{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
<!-- Team -->

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="text-uppercase">L'équipe du projet</h2>
          <h3 class="text-muted">Etudiant à l'ISTIA nous avons développé ce site dans le cadre de notre cours de web, nous voulions permettre aux étudiants partant faire 
              des stages à l'étranger d'avoir des informations sur le logement et la vie en général dans leur pays de destination.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
          <div class="team-member">
            <img class="mx-auto img-thumbnail rounded-circle" src="/static/images/alice_funk.jpg" alt="c'est moiiiiiii!">
            <h4>Alice Funk</h4>
            <p class="text-muted">Etudiante à l'ISTIA</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/Alfnuk?lang=fr">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/alice-funk-64488986/">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm text-center">
            <div class="team-member">
              <img class="mx-auto img-thumbnail rounded-circle" src="/static/images/colin_gachet.jpg" alt="c'est luiiiiiiii!">
              <h4>Colin Gachet</h4>
              <p class="text-muted">Etudiant à l'ISTIA</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="https://fr.linkedin.com/in/colin-gachet-640b918b">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>
    

{% endblock %}