{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
<!-- Team -->

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center py-3 my-3">
          <h2 class="text-uppercase">Ce lien a déjà été utilisé... désolé mais il n'est plus valable.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center">
          <div class="py-5 my-5">
            <img class="mx-auto py-3 my-3" src="/static/images/sorry.gif" alt="thx buddy">
          </div>
        </div>
    </div>
</div>
    

{% endblock %}